#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.TodoWrapper {
  background-color: #ffff;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 0 1.0714 rgba(0, 0, 0, 0.1);
  max-height: 30rem;
  overflow-y: auto;
}

.Todoform {
  width: 100%;
  margin-bottom: 10rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #1a1a1a;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #1a1a1a;
}

.todo-input::placeholder {
  color: grey;
}

.todo-btn {
  background-color: white;
  color: #1a1a1a;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}